<html>
    <header>
        <title> 알파코 캠퍼스 </title>
        <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">
    </header>

    <body>
    <body style = "background-color: pink;">
    <h1 class = "test" id = "test1"> 알파코 </h1>
    <h1> 알파코2 </h1>

    <h2> 성수역 </h2>
    <h2> 서울역 </h2>

    <div style = "width: 200px; height : 200px; background-color : black;"></div>
    
    <img src="static\img\32e54d8f74cb4673d7715ee1fc1a5a59.jpg"></img>
    

    <table>
        <tr>
            <td>1칼럼</td><td>2칼럼</td><td>3칼럼</td>
        </tr>
        <tr>
            <td>내용1</td><td>내용2</td><td>내용3</td>
        </tr>


    </table>

    </body>
</html>
